
<h1 style="text-align: center; vertical-align: middle;"><%= current_user.username %>'s Tweets</h1>
<table class='table'>
  <thead>
    <tr>
      <th>MESSAGES</th>
      <th>USER</th>
      <th>CREATED AT</th>
      <th>UPDATED AT</th>
      <th colspan="3">CONFIGURATION</th>
      <th id='special'>STATUS</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.message.html_safe %></td>
        <td><%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></td>
        <td><%= tweet.created_at %></td>
        <td><%= tweet.updated_at %></td>
        <td><%= link_to 'Show', tweet, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Delete', tweet, method: :delete, data: { confirm: "Are you sure?\n This cannot be undone." }, class: 'btn btn-danger' %></td>
        <td><% if @followed_users.length == 1 %>
            Following <%= @followed_users.length %> person</li>
            <% elsif @followed_users.length > 0 %>
            Following <%= @followed_users.length %> people</li>
            <% else %>
              <p>You have no followers. Get followers <a href='/all_users'>here.</a></p>
            <% end %>
          </td>
          <td><% if @tweets.length == 1 %>
              You have <%= @tweets.length %> tweet.</li>
              <% elsif @tweets > 0 %>
              You have <%= @tweets.length %> tweets.</li>
              <% else %>
                <p>You have no tweets! Get tweets <%= link_to "here now!", new_tweet_path %></p>
              <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to "MAKE A NEW TWEET", new_tweet_path, class: 'btn btn-default' %>
