
<h1 style="text-align: center; vertical-align: middle;">Tweets</h1>
<style type='text/css'>
  .well.float-right {
    width: 150px;
    height: 280px;
  }
</style>
<table class='table'>
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th colspan="3">Configuration</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.message.html_safe %></td>
        <td><%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></td>
        <td><%= link_to 'Show', tweet, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="well float-right following-list"></div>
<br>

<%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-default' %>
<%= paginate @tweets %>
